*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BlackClover';
    src: url('./font/black_clover/BlackCloverFont.ttf'); 
}


body{
    font-family: 'BlackClover';
    
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url("img/background.png");
    background-size: cover;
}

#container #showcase{
    border: 1px solid red;
    background-color:rgba(245, 245, 220, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container #showcase #play-btn{
    width: 50px;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    font-size: 30px;
    margin-left: auto;
}

#container #showcase #subtext, #subtext2{
    font-size: 25px;
}

#container #showcase #name-btn{
    padding: 20px 8px;
    border-radius: 15px;
    font-family:'BlackClover';
}

.btn{
    border: 0;
    padding: 10px;
    border-radius: 10px;
}

#container #showcase #submit-btn{
    color: #fff;
    background-color: #7b7b79;
}

#container #showcase #choices{
    display: flex;
    justify-content: space-between;
}

#container #showcase #continue-btn{
    background-color: rgb(86, 155, 86);
    color: #fff;
    width: 47%
}

#container #showcase #back-btn{
    background-color: rgb(207, 30, 30);
    color: #fff;
    width: 47%;
}

#error{
    color: red;
}

#logout-btn{
    background-color: red;
    color: #fff;
}
